.select {
  position: relative;
}

.select input, .select label {
  cursor: pointer;
}

.select li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .625rem;
}

.select ul {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: .625rem;

  background: #fff;
  color: #333;
  border-radius: 15px;

  transition: .5s;
}

.select .open {
  padding: .9375rem;
  height: 9.375rem;
  overflow: auto;
}

.top {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: .8125rem;
  border-radius: 25px;
}

.top p {
  font-size: 1.125rem;
  font-weight: 500;
}

.top span {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .5s;
}

.top i {
  position: absolute;
  z-index: 0;
  top: -0.6875rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4383f1;
  font-size: 13px;
}